wrapper {
    width: 1280px;
    margin: 0 auto;
}

body {
    font-family: "Proxima Nova Condensed";
}

.header {
    background-color: #f5f5f5;
}

.main-menu {
    height: 40px;
    background-color: #2c2c2c;;
}

.main-menu-link {
    color: white;
    font-size: 15px;
    line-height: 40px;
}


h1 {
    width: 442px;
    height: 43.5px;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}

.cover-content {
    height: 332.5px;
    background-color: rgba(0, 0, 0, 0.5);
    tex-align: center;
}

p {
    font-family: Arial;
}

.person-text {
    width: 700px;
    font-size: 16px;
    line-height: 1.33
}
